# Ignore Visual Studio temporary files, build results, and cache
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
[Bb]uild/
[Ll]og/
*.log

# Rider/JetBrains
.idea/

# VS Code
.vscode/

# ASP.NET Core secrets
secrets.json

# User-specific files
*.swp
*.bak
*.tmp
*.dbmdl

# Others
*.db
*.mdf
*.ldf
*.sqlite
*.sqlite3
